<form action='/new_game' method='post'>
  <fieldset>
    <h4>What's your name? </h4>
    <input class='input-medium' type='text' name='player_name'>
    <br>
    <button type='submit' class='btn'>Submit</button>
  </fieldset>
</form>
