<h2>Here's text from a nested template</h2>
<p class="muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, dolor!</p>
For example, <code>&lt;section&gt;</code> should be wrapped as inline.
<pre class="pre-scrollable">
  &lt;p&gt;Sample text here...&lt;/p&gt;
  <h2>Here's text from a nested template</h2>
  <p class="muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, dolor!</p>
  For example, <code>&lt;section&gt;</code> should be wrapped as inline.
  <h2>Here's text from a nested template</h2>
  <p class="muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, dolor!</p>
  For example, <code>&lt;section&gt;</code> should be wrapped as inline.
  <h2>Here's text from a nested template</h2>
  <p class="muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, dolor!</p>
  For example, <code>&lt;section&gt;</code> should be wrapped as inline.
</pre>

<label class="checkbox inline">
  <input type="checkbox" id="inlineCheckbox1" value="option1" checked> 1
</label>
<label class="checkbox inline">
  <input type="checkbox" id="inlineCheckbox2" value="option2"> 2
</label>
<label class="checkbox inline">
  <input type="checkbox" id="inlineCheckbox3" value="option3"> 3
</label>

<i class="icon-search"></i>

<ul class="nav nav-pills">
  <li class="active">
    <a href="#">Home</a>
  </li>
  <li><a href="#">...</a></li>
  <li><a href="#">...</a></li>
</ul>
